# Created by .ignore support plugin (hsz.mobi)
.idea/
Animals_with_Attributes2/
/data/
/result.txt
/report/report.aux
/report/report.log
/report/report.synctex.gz
/report/report.pdf
/report/report.out
